---
version: "3.3"

networks:
  {{ adguardhome_docker_network_name }}:
    external: true

services:
  adguardhome:
    image: "{{ adguardhome_docker_version }}"
    hostname: "adguardhome"
    init: true
    restart: always
    volumes:
{% for volume in adguardhome_docker_volumes %}
      - {{ volume }}
{% endfor %}
    environment:
      PUID: {{ adguardhome_docker_uid }}
      PGID: {{ adguardhome_docker_gid }}
      TZ: {{ adguardhome_docker_timezone }}
{% for env_var in adguardhome_docker_environment_variables %}
      {{ env_var }}
{% endfor %}
    networks:
      - {{ adguardhome_docker_network_name }}
{% if adguardhome_docker_ports and adguardhome_docker_ports|length %}
    ports:
{% for port in adguardhome_docker_ports %}
      - {{ port }}
{% endfor %}{% endif %}
{% if adguardhome_docker_labels and adguardhome_docker_labels|length %}
    labels:
{% for label in adguardhome_docker_labels %}
      - "{{ label }}"
{% endfor %}{% endif %}
